*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
NAVIGATION BAR 
*/

.nav-bar {
    background-color: whitesmoke;
    padding: 1rem 3rem  1rem 1.5rem;
    border-radius: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 2rem;
    left: 2rem;
    right: 2rem;
}
.nav-bar > ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}